<!DOCTYPE html>

<html lang="en">

<head>
    <title>Quant AI Result</title>
    <meta charset="utf-8">
    <meta name="description" content="Nebula AI blockchain tool">
    <meta name="keywords" content="AI, Blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    /><link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- <div id="output" class="page"> -->
    <div class="header">
        <div class="logo">
            <a href="../index.html">
                <img src="../images/Nebula_Logo2.png" alt="Nebula Logo" />
            </a>
        </div>
        <div class="action">
            <a type="button" class="btn btn-default" href='../index.html'>
                <span>Back to Main</span>
            </a>

        </div>
    </div>
    <div class="content">
        <div class="chart" id="chart"><p id="outerror" style="visibility: hidden;">Oops! Something went wrong...</p></div>
    </div>


    <div class="footer">
        <img src="../images/QuantAI-logo.png" alt="logo">
        <div>Copyright reserved by NEBULA AI &copy;2017 - 2022</div>
    </div>
    <!-- </div> -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <script>
        let uuid = window.localStorage.getItem("uuid"), taskName = window.localStorage.getItem("taskName"); console.log(uuid, taskName);

        let url = "http://quantum.nebula-ai.network/nebula/scripts/" + uuid;
        let startTime, endTime, forecast = [], series = [], states = ["open", "high", "low", "close"];
        $.getJSON(url, function (data) {

            try {
                let times = JSON.parse(Object.keys(data.script.open[0])[0]);                        //console.log(times_forecast);
            }
            catch(err) {
                document.getElementById("outerror").style.visibility = "visible";
            }
            
            endTime = times[0] - 300;
            startTime = times[0] - 15000;                              //console.log(startTime,endTime);
            times.map((x, i) => {
                let arr = [x * 1000];
                states.map((value, index) => {

                    let state = data.script[value][0];                                      //console.log(state[Object.keys(state)]);
                    state[Object.keys(state)].map((y, j) => {
                        if (i === j) { arr.push(y) }
                    });
                });                                                                         //console.log(arr);

                forecast.push(arr);
            });
            getTaskData(startTime, endTime);                                                                                      //console.log(forecast);
            //createChart(forecast);
        });
        function getTaskData(startTime, endTime) {
            let taskData = [];
            let taskUrl = "https://poloniex.com/public?period=300&command=returnChartData&currencyPair=USDT_ETH&start=" + startTime + "&end=" + endTime;
            $.getJSON(taskUrl, function (data) {                                                          //console.log(data);
                data.map(x => {
                    let arr = [x.date * 1000];
                    states.map(y => {
                        arr.push(x[y]);
                    });                             //console.log(arr);
                    taskData.push(arr);
                }); console.log(forecast);

                series.push({
                    type: 'candlestick',
                    name: 'Ether Price',
                    data: taskData
                });

                forecast.map(x => {
                    let color = x[1] > x[4] ? "#ff0000" : "#00ff00";
                    let arr = [x];
                    series.push({
                        type: 'candlestick',
                        name: 'forecast',
                        data: arr,
                        color: color,
                        lineColor: color,
                        upLineColor: color, // docs
                        upColor: color
                    });
                });           console.log(series)
                // createChart(taskData);
                createChart(series);
            });

        }
        function createChart(data) {
            Highcharts.stockChart('chart', {
                plotOptions: {
                    candlestick: {
                        lineColor: '#2f7ed8',
                        upLineColor: 'silver', // docs
                        upColor: 'silver'
                    }
                },
                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'task: ' + taskName
                },

                series: data
                // [{
                //     type: 'candlestick',
                //     name: 'Ether Price',
                //     data: data//,
                // }, {
                //     type: 'candlestick',
                //     name: 'forecast',
                //     data: forecast,
                //     color: "#FF0000",
                //     lineColor: '#FF0000',
                //     upLineColor: '#FF0000', // docs
                //     upColor: '#FF0000'
                // }]
            });
        }

    </script>
    <!--<script>
    let url = "http://192.168.88.187:8080/nebula-task/task/search/";
    
    var seriesOptions = [],
        seriesCounter = 0,
        names = ['MSFT', 'AAPL', 'GOOG'];

   
    function createChart() {

        Highcharts.stockChart('chart', {

            rangeSelector: {
                selected: 4
            },

            yAxis: {
                title: {
                    text: 'Bitcoin'
                },
                labels: {
                    align: "left",
                    x: 0,
                    y: -2,
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
               

            },

            plotOptions: {
                series: {
                    compare: 'percent',
                    showInNavigator: true
                }
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2,
                split: true
            },

            series: seriesOptions
        });
    }

    $.each(names, function (i, name) {

        $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?', function (data) {

            seriesOptions[i] = {
                name: name,
                data: data
            };

            seriesCounter += 1;

            if (seriesCounter === names.length) {
                createChart();
            }
        });
    });

</script>-->
</body>

</html>